#!/bin/bash

# put your own Syncthing API key below
# this example is not real! do not check in your own key!

# Look for '<apikey>' in config.xml in $HOME/.config/syncthing
# (Unix-like), $HOME/Library/Application Support/Syncthing (Mac) or
# %LOCALAPPDATA%\Syncthing (Windows).

export SYNCTHING_API_KEY='NCUoXDAnWEV1M0peNVJESENEUictRQd3'
