<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Page News</title>
  </head>
  <h1>Page News</h1>
  {% if obsidian_vaults is defined and obsidian_vaults|length > 0 %}
  <section>
    <h2>Obsidian Vaults</h2>
    <ul>
      {% for wiki in obsidian_vaults %}
      <li><a href="/page-news{{ wiki[1] }}">{{ wiki[0] }}</a></li>
      {% endfor %}
    </ul>
  </section>
  {% else %}
  <section>
    <div><em>No Obsidian Vaults Found</em></div>
  </section>
  {% endif %}
</html>
